/* Base styles */
.login-panel {
    display: flex;
    min-width: 70%;
    max-width: 80%;
    min-height: 50%;
    background-color: #F9E8D9;
    flex-direction: column; /* Stack elements vertically on smaller screens */
}
.login-panel p {
    color: #527853;
}


.img-fluid {
    max-width: 50%;
    min-width: 100px;
}

.div-col1{
    /* display: flex; */
    display: grid;
    flex-wrap: wrap;
    margin: 0;
    height: 100%;
    /* justify-content: center; */
}

.div-col2 {
    display: flex; /* Equivalent to d-flex */
    flex-direction: column; /* Equivalent to flex-column */
    justify-content: center; /* Equivalent to justify-content-center */
    align-items: center; /* Equivalent to align-items-center */
    position: relative; /* Equivalent to position-relative */
    margin-left: auto; /* Equivalent to mx-auto (horizontal centering) */
    margin-right: auto; /* Equivalent to mx-auto (horizontal centering) */
    width: 41.666667%; /* Equivalent to col-5 (5/12 of the container width) */
    background-color: #527853;
}

a[name="login"] {
    background-color: #527853;
    border-color: #527853;
    border-radius: 20px;
    width: 100px;
}

button[aria-label="Close"] {
    background-color: #527853;
    color: #F9E8D9;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[aria-label="Close"]:hover {
    background-color: #EE7214; /* Bright orange color */
}

button[name="login"] {
    background-color: #527853;
    border-color: #527853;
    border-radius: 20px;
    width: 100px;
}

.table-buttons-update {
    color: #fff;
    background-color: #527853 !important;
    border-color: #527853 !important;
}

button[name="login"]:hover {
    background-color: #3A583C;
    border-color: #3A583C; 
    color: white; 
}

button[name="login"]:focus, button[name="register"]:focus {
    /* background-color: #3A583C; */
    outline: none !important;
    box-shadow: none !important;
}

button[name="register"] {
    background-color: #EE7214;
    border-radius: 0;
    border-color: #EE7214;
    border-radius: 20px;
    width: 100px;
}

button[name="register"]:hover {
    background-color: #C95B0E;
    border-color: #C95B0E; 
    color: white; 
}

.header {
    color: #527853;
    font-size: 40px;
    font-weight: bold;
}

.user {
    background-color: #fff;
    min-height: 50px;
    min-width: 200px;
    max-width: 300px;
}

.user:focus {
    /* background-color: #9b9b9b75; */
}
.userform {
    position: relative;
}
.bi-people-fill, .bi-key-fill, .bi-envelope-fill, .bi-telephone-fill{
    position: absolute;
    top: 25%;
    left: 2%;
}

.password {
    background-color: #fff;
    min-height: 50px;
    max-width: 300px;
    min-width: 200px;
}

input.user[type=text], input[type=password], input[type=number] {
    max-width: 100%;
    padding-left: 30px;
}

input::placeholder {
    padding-left: 0px;
}

.panel-body {
    /* min-width: 250px; */
}

.carousel-item {
    width: 100%;
    transition: transform .6s ease-in-out;
}

/* Responsive styles for smaller screens */
@media (max-width: 1000px) {
    .login-panel {
        min-width: 90%;
        max-width: 95%;
        padding: 10px; /* Add padding for better layout on mobile */
    }

    .header {
        font-size: 30px;
    }

    .img-fluid {
        max-width: 80%;
        min-width: 150px;
    }

    button[name="login"], button[name="register"] {
        width: 100px; /* Adjust button width for smaller screens */
        margin-bottom: 10px;
    }

    .user, .password {
        width: 100%; /* Make inputs full-width */
    }

    .bi-people-fill, .bi-key-fill {
        top: 30%;
        left: 5%; /* Adjust icon position for smaller screens */
    }
}

@media (max-width: 600px) {
    .header {
        font-size: 25px;
    }

    button[name="login"], button[name="register"] {
        width: 80px; /* Further adjust button width for smaller screens */
        margin-bottom: 10px;
    }

    a[name="login"] {
        width: 80px; /* Further adjust button width for smaller screens */
        margin-bottom: 10px;
    }

    .bi-people-fill, .bi-key-fill {
        top: 35%;
        left: 8%; /* Further adjust icon position for smaller screens */
    }

    .col-5{
        display: none; /* Hide image on very small screens */
    }

    .div-col1 {
        display: none;
    }

    .div-col2 {
        width: 100%; /* Full width */
    }

    .col-7 {
        display: none;
    }

    .bi-people-fill, .bi-key-fill {
        position: absolute;
        top: 30%;
        left: 2%;
    }

    .img-fluid.register {
        max-width: 60%;
        min-width: 150px;
    }
}


@media (min-width: 1001px) {
    .row.w-100 {
        margin-bottom: 20px;
    }
}